@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    
}
body html{
    min-height: 100vh;
    background-color: blanchedalmond;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    font-size: 3em;
    margin: 0.5em 0;
    font-family: 'Lucida Handwriting', cursive;
}
header > p{
    margin-bottom: 0.5em;
    font-family: 'Courier New', Courier, monospace;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.8em;
    font-size: 2vh;
    
}
section > p{
    padding-bottom: 2em;
}

section.normal{
    margin: 2em;
    font-family: 'Lucida Handwriting', cursive;
    line-height: 1.8em;
    text-align: justify;
}
section.imagem{
    font-family: 'Lucida Handwriting', cursive;;
   color: white;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.144);

   

}
section.imagem > p{
    background-color: rgba(0, 0, 0, 0.509);
    width: 300px ;
    margin: 1.5em;
    font-size: 1.1em;
    line-height: 1.8em;
}

section#img01{
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section#img02{
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}